#homeBody {
    background-color: #222222;
    min-height: 50%;
    /* padding: 50px; */
    padding-top: 50px;
    padding-bottom: 50px;
}

#binary {
    height: 30%;
    width: 100%;
    /* border: 3px solid salmon; */
    /* margin: 10px auto; */
}

#binary video {
    height: 50%;
    width: 50%;
    margin: 0 auto;
    display: block;
    box-shadow: 3px -5px 15px springgreen;
}

#homeBody h2 {
    text-align: center;
    margin: 50px 0;
    font-family: var(--cursive-font);
    color: var(--main-text-color);
    font-size: 50px;
}

#me {
    /* background: linear-gradient(var(--main-text-color), var(--heading-color)); */
    background-color: lightblue;
    width: 100%;
    height: 50vh;
    margin: auto;
    padding: 20px;
}

#me p {
    font-family: var(--info-font);
    line-height: 3rem;
    font-weight: 600;
    word-spacing: 3px;
    letter-spacing: 2px;
}

#me p > * {
    color: darkcyan;
}

#me p > *:visited {
    color: cornflowerblue;
}