#homeBody {
    background-color: #222222;
    min-height: 50%;
    padding: 50px;
    display: flex;
}

#binary {
    height: 30%;
    width: 100%;
    /* border: 3px solid salmon; */
    /* margin: 10px auto; */
}

#binary video {
    height: 50%;
    width: 50%;
    margin: 0 auto;
    display: block;
    box-shadow: 3px -5px 15px springgreen;
}

