@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-text-color: #FDBD1E;
    --cursive-font: 'Tangerine', cursive;
    --head-font: 'Oswald', sans-serif;
    --heading-color: rgb(21, 21, 21);
    --info-font: 'Playfair Display', serif;
}

* {
    box-sizing: border-box;
    margin: 0 0;
    padding: 0 0;
}

body {
    background-color: darkgray;
}

.App {
    width: 100vw;
    height: 100vh;
}

@media screen and (max-width: 700px){
    body {
        width: 100%;
    }

    App {
        width: 100vw;
    }
}